.vscode/
build/
build-*/

src/emu/lazarus/backup/*
src/emu/lazarus/lib/*
src/emu/lazarus/drives/*
src/emu/lazarus/*.dll
src/emu/common/include/common/configure.h
src/emu/common/include/common/version.h
docs
CMakeSettings.json
out
.metadata
cmake-build-*
.idea

*.o
*.obj
*.exe
*.dll
*.so
*.dylib
*.a
*.lib
*.pdb
*.ilk
*.exp
*.docx